*{
    margin:0;
    padding:0;
    color:white;
}
#body{
    text-align: center;
    background-image: url("/Images/cricImage.webp");
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.para-message{
    font-size: 30px;
    font-weight: bolder;
}
.btn-block{
    width: fit-content;
    height: fit-content;
    margin:580px;
    margin-top:70px;
    padding:10px;
    display: flex;
    justify-content: center;
}
.btn{
    width:100px;
    height:60px;
    background-color: black; 
    font-size: x-large;
    margin:8px;
    padding:5px;
    border: 2px solid white;
    border-radius:10px;
}